//scss全局变量
$color:red;
//左侧菜单宽度
$base-menu-width:260px;
//折叠宽度
$fold-menu-width:50px;
//左侧菜单背景色
$base-menu-background:#001529;
//顶部导航高度
$base-tabbar-height:50px;

//左侧菜单高度
$base-menu-logo-height:50px;
//logo右侧文字大小
$base-logo-font-size:20px;